* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html , body{
    height: 100%;
    width: 100%;
}
h1 {
    
}
.box {
    position: relative;
    height: 400px;
    width: 200px;
    background-color: red;
}